<h1>Test Result</h1>

<h5>{{ "@GET('/user')" }}</h5>
<pre *ngIf="listResponse">{{ listResponse | json }}</pre>

<h5>{{ "@GET('/user/query', { query: true })" }}</h5>
<pre *ngIf="querySampleResponse">{{ querySampleResponse | json }}</pre>

<h5>{{ "@GET('/user/{0}', { observe: ObserveOptions.Response })" }}</h5>
<pre *ngIf="findResponse">{{ findResponse | json }}</pre>

<h5>{{ "@POST('/user')" }}</h5>
<pre *ngIf="createResponse">{{ createResponse | json }}</pre>

<h5>{{ "@PUT('/user/{0}/toggle', { emptyBody: true })" }}</h5>
<pre *ngIf="toggleFlagResponse">{{ toggleFlagResponse | json }}</pre>

<h5>{{ "@PUT('/user/{0}')" }}</h5>
<pre *ngIf="updateResponse">{{ updateResponse | json }}</pre>

<h5>File Upload</h5>

<form [formGroup]="form" (ngSubmit)="onFileUpload()">
  <p>
    <input type="file"
           [formControl]="file"
           (change)="onFileSelect($event)">
  </p>

  <p>
    <button type="submit">Upload</button>
  </p>
</form>
